In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from env import host, username, password
from pydataset import data
from env import get_db_url

# Data Acquisition

1.) In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [10]:
df_iris = data('iris')

In [ ]:
#1a.) print the first 3 rows

In [15]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [16]:
#1b.) print the number of rows and columns (shape)

In [18]:
df_iris.shape
print(f"The number of rows is {df_iris.shape[0]}, the number of columns is {df_iris.shape[-1]} ")

The number of rows is 150, the number of columns is 5

In [19]:
#1c.) print the column names

In [23]:
list(df_iris)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [24]:
#1d.) print the data type of each column

In [30]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [31]:
#1e.) print the summary statistics for each of the numeric variables. 
 #Would you recommend rescaling the data based on these statistics?

In [34]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Not seeing a need to rescale

2.) Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [37]:
pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No

In [38]:
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')

In [ ]:
#2a.) assign the first 100 rows to a new dataframe, df_excel_sample

In [40]:
df_excel_sample = df_excel.head(100)

In [42]:
#2b.) print the number of rows of your original dataframe
print(f'the number of rows in the original data frame is {df_excel.shape[0]}')

the number of rows in the original data frame is 7049

In [47]:
#2c.) print the first 5 column names
print(list(df_excel)[0:5])

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

In [51]:
#2d.) print the column names that have a data type of object
print(df_excel.columns[df_excel.dtypes==object])

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [ ]:
#2e.) compute the range for each of the numeric variables.